.button{
    height: 100px;
    width: 100px;
}
#red{
    background-color: rgb(255, 13, 0);
}
#yellow{
    background-color: rgb(228, 203, 14)
}
#green{
    background: rgb(0, 141, 0);
}

.all{
    display: flex;
}

#clear_game{
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(124, 201, 190);
    border-radius: 5px;
    padding: 5px 10px;
    transition: all .2s ease;
}

#clear_game:hover{
    color: rgb(0, 0, 0);
    background-color: #00ffd9;
    border-radius: 5px;
    padding: 5px 10px;
}

#clear_game:active{
    background-color: #00e1ff;
}
